@model Titular

<h3> Dados da Conta:</h3>
<hr>
<form>
    <label> Código Interno do Cliente</label>
    <input type="number" id="id" name="id">
    <input type="submit" value="Procurar" formmethod="POST">
</form>

