@model IEnumerable<TipoConta>

<h1>Lista de todas as contas </h1>
<hr>
<form>

</form>
<table class="table table-hover">
    <thead>
        <th scope="col">Tipo_da_Conta</th>
        <th scope="col">Nome_do_Tipo</th>
    </thead>
    <tbody>
        @foreach (TipoConta tipoConta in Model)
        {
            <tr>
                <td>@tipoConta.tipoConta</td>
                <td>@tipoConta.nomeTipoConta</td>
            </tr>
        }
    </tbody>
</table>