@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">
				<br>
                PROJETO FINAL - PROGRAMA ITAÚ TECH BACKEND
			</h2>
		</div>
	</div>
    <br>
    <hr>
    <br>

	<div class="row">
		<div class="col-md-6">
			<h4>
				VISÃO GERAL
			</h4>
			<p>
				Estamos em um contexto de gerenciamento de clientes e contas bancárias da instituição. 
                Precisamos disponibilizar uma API que forneça dados de clientes e contas (inicialmente para consulta).
			<p>
				<a class="btn" href="https://docs.google.com/presentation/d/1GpJWEm0yfNjrpOs8vTKPR6IUvF43kslsoflxEWOqSQ4/edit#slide=id.gf5067062b0_0_666">View details »</a>
			</p>
		</div>
		<div class="col-md-6">
			<h4>
				OBJETIVOS
			</h4>
			<p>
				Construir uma API Spring BOOT que possua 2 endpoints principais:
                <li>Recuperação de todas as contas bancárias</li>
                <li>Recuperação dos detalhes de 1 conta bancária (inclusive dados do seu titular)</li>
        	</p>
			<p>
				<a class="btn" href="https://docs.google.com/presentation/d/1GpJWEm0yfNjrpOs8vTKPR6IUvF43kslsoflxEWOqSQ4/edit#slide=id.gf5067062b0_0_666">View details »</a>
			</p>
		</div>
	</div>
</div>